{% extends 'answering/inbox_base.html' %}

{% load django_bootstrap5  static %}
{% block title %}{{inbox.name}}{% endblock %}

{% block content %}
{% for message in page %}
<h2> {{inbox.name}}: Fragen & Antworten</h2>
<div class="question-group">
  <h3>Frage</h3>
  <p class="message question">{{message.content}}</p>
  <h4>Antwort</h4>
  {% for answer in message.outputmessage_set.all %}
  <p class="message answer">{{answer.content}}</p>
  {% empty %}
  <p>Fehler bei der Beantwortung</p>
  {% endfor %}
</div>
{% endfor %}
{% bootstrap_pagination page %}
{% endblock content %}
