{% extends 'answering/inbox_base.html' %}
{% load django_bootstrap5  static %}
{% block title %}{{task.name}} | {{inbox.name}}{% endblock %}


{% block content %}
<h2>{{task.name}}</h2>

<form action="" method="post" id="inputForm" class="row">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  <div class="col-auto">
  {% bootstrap_button button_type="submit" content="Los" %}
  </div>
</form>
<hr/>

<h3>Output</h3>
<div class="spinner-border d-none" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<textarea rows="10" class="form-control" id="outputArea"></textarea>

<h3 class="mt-2">Kontext</h3>
<div id="context"></div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/task_view.js" %}">
</script>
{% endblock %}
